<article id="post-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost" data-scroll-reveal>
  <div class="article-inner">
    <% if (post.link || post.title) { %>
      <header class="article-header">
        <%- partial('_partial/_post/header', {post: post}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <%- partial('_partial/_post/meta', {post: post}) %>
    </div>
    <div class="article-inner">
      <% if (is_home()) { %>
        <% const excerpt = getPostExcerpt(post); %>
        <% if (excerpt) { %>
          <%- excerpt %>
        <% } %>
        <% if (theme.excerpt_link) { %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= __('posts.readmore') %> >></a>
          </p>
        <% } %>
      <% } else { %>
        <div class="article-entry" itemprop="articleBody">
          <% if (post.excerpt && index) { %>
            <%- post.excerpt %>
            <% if (theme.excerpt_link) { %>
              <p class="article-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= __('posts.readmore') %> >></a>
              </p>
            <% } %>
          <% } else { %>
            <%- post.content %>
          <% } %>
        </div>
      <% } %>
    </div>
    <% if (!index) { %>
      <footer class="article-footer">
        <% if (theme.copyright && theme.copyright.enable) { %>
          <%- partial('_partial/_post/copyright') %>
        <% } %>
        <div data-key="<%= post.slug %>" data-url="<%= post.permalink %>" class="article-comment">
          <%- partial('_partial/_post/comment') %>
        </div>
        <% if (theme.reward && theme.reward.enable) { %>
          <%- partial('_partial/_post/reward') %>
        <% } %>
      </footer>
    <% } %>
  </div>
  <% const shouldShowToc = !post.index && post.toc !== false && theme.toc && post.content && /<h[1-6][^>]*>/.test(post.content); %>
  <% if (shouldShowToc) { %>
    <div id="toc" class="toc-article">
      <div class="toc-title"><%= __('posts.toc') %></div>
      <%- toc(post.content) %>
    </div>
  <% } %>
</article>