<header id="header">
  <div class="header-inner">
    <div id="logo">
      <a href="<%- url_for('.') %>">
        <img src="<%= url_for(theme.head.favicon) %>" alt="<%= config.title %>">
        <span class="logo-text"><%= config.title %></span>
      </a>
    </div>
    <div id="nav-menu">
      <ul id="nav-menu-list">
        <% 
          const menuItems = theme.menu || {};
          for (let menuKey in menuItems) {
            const menuPath = menuItems[menuKey];
            const menuTitle = getMenuTitle(menuKey);
            const isActive = isMenuActive(menuPath);
        %>
          <li class="nav-menu-item <%= isActive ? 'active' : '' %>">
            <a href="<%- url_for(menuPath) %>" class="nav-menu-link">
              <span><%= menuTitle %></span>
            </a>
          </li>
        <% } %>
      </ul>
      <div id="mobile-nav-menu">
        <span class="mobile-nav-menu-btn">
          <i class="icon icon-menu"></i>
        </span>
        <ul id="mobile-nav-menu-list">
          <% 
            for (let menuKey in menuItems) {
              const menuPath = menuItems[menuKey];
              const menuTitle = getMenuTitle(menuKey);
          %>
            <li class="mobile-nav-menu-item">
              <a href="<%- url_for(menuPath) %>" class="mobile-nav-menu-link">
                <span><%= menuTitle %></span>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</header>
